body
{
	font-family: "Roboto+Condensed", cursive;
	background-color: #222;
}

.image 
{
	height: 100px;
	width:  100px;
	color: #ffa500;
	border: 1px solid ;
	font-size: 100px;
}

.images
{
	text-align: center;
}

h1
{
	margin: auto;
	margin-left: 300px; 
	margin-right: 300px;
	color: #ffa500;
	border: 2px solid ;
	font-size: 50px;
	text-align: center;
}

button
{
	border-radius: 5px;
	font-size: 50px;
	background-color: #ffa500;
	color: white;
}

.VS
{
	color: white;
	font-size: 50px;
	text-align: center;
}

.regles{
	text-align: center;
	color: white;
	font-size: 253%;
}
.affichage{
	display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 350px;
}

#score{
	color: white;
	font-size: 150%;
	margin-top: 5%;
}