.carte {
	width: 98px;
	height: 143px;
	background-image: url(jeu.png);
	float: left;
}

.cachee {
	background-position: bottom 0 right 294px !important;
}

body
{
	font-family: "Roboto+Condensed", cursive;
	background-color: #222;
}

.formulaire{
	margin: auto;
	margin-left: 300px; 
	margin-right: 300px;
	color: white;
	font-size: 30px;
	text-align: center;
	display: flex;
	flex-direction: column;
}

button
{
	border-radius: 5px;
	font-size: 50px;
	background-color: #ffa500;
	color: white;
}

h1
{
	margin: auto;
	margin-left: 300px; 
	margin-right: 300px;
	color: #ffa500;
	border: 2px solid ;
	font-size: 50px;
	text-align: center;
}

#user{
	text-align: center;
}